.body{
background:#1C2833;
}
bgcolor
{
    background: #D3D3D3;
}
.a .textnav
{
color: #F08080;
}
p.textheader
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-family:comic-sans-ms; */
}

.footer {
    position: relative; 
    left: 0;
    width: inherit;
    background-color:#1B2631  ;
    
    text-align: center;
}
.bgcard
{
    color: #148F77;
    background: #1C2833;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card-body {
    display: flex;
    flex-direction: column;
  }
  
  button.btn {
    margin-top: auto;
  }